<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yadaniil.bitcurve">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.accounts.AccountsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".screens.account.AccountActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".screens.ScanQrActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/AppCompatCaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation">
        </activity>

        <activity android:name=".screens.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings" />

        <activity android:name=".screens.settings.restore.MnemonicRestoreActivity"
            android:label="@string/restore_wallet"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait"/>


    </application>

</manifest>